@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: whitesmoke;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn:hover {
  background-color: rgb(22, 177, 110);
  color: rgb(250,250,250);
  border: none;
}

.btn:active {
  transform: translateY(0.5em);
}

.link {
  text-decoration: none;
  color: rgb(106, 100, 100);
}